{% extends 'base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Let's Build <br> No growing without building.</h1>
  <p class="lead">
      Hello, My name is Aryan Chauhan. I am an Android and Web developer. I love to make my ideas come alive in form of
      Apps and websites. This is my little space in this widespread web, where I present the apps I have created and the
      awesome projects that I work on. Check out my projects here and keep building and growing.
  </p>
</div>

{% endblock content %}